{% extends 'base.html.twig' %}

{% block title %}Neue Kontaktpersonen Erfassen{% endblock %}

{% block body %}
        <div data-controller="contactPersons">
                <h1>Kontakpersonen erfassen</h1>
                {{ include('contact_person/_form.html.twig') }}
        </div>

{% endblock %}
