<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block head_stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/easyadmin/app.css') }}">
        {% endblock %}

    </head>
    <body class="ea">
        <div class="wrapper">

            <div class="content-wrapper">
                <div class="content">
                    <section id="main" class="content-body">
                        <div>
                            <div class="content-panel">
                                {% block body %}{% endblock %}
                            </>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
