{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Corona Erfassung' %}

{% block page_content %}


    <h2>Infizierte Gesamt</h2>
    <span>{{ infected }}</span>

    <br><br>
    <h2>Infizierte diese Woche</h2>
    <span>{{ infectedThisWeek }}</span>

    <br><br>
    <h2>Kontaktpersonen erfasst</h2>
    <span>{{ contactPersons }}</span>

{% endblock %}